<link rel="stylesheet" href="~/css/pages/auth.css">

<div class="auth">
    <img class="auth__cover" src="/img/auth-cover.jpg" alt="page layout cover">
    <main class="auth__main tg-half-container">
        <a class="auth__main-link" asp-controller="Main" asp-action="Index">
            <img class="auth__logo" src="~/img/logo.svg" alt="logo"/>
        </a>

        <form class="auth__form" asp-controller="Auth" asp-action="SignUp" method="post">
            <h2 class="auth__form-header">Регистрация</h2>
            
            <vc:text-input type="text" label="E-mail" name="email"/>
            <vc:text-input type="text" label="Логин" name="login"/>
            <vc:text-input type="password" label="Пароль" name="password"/>
            <vc:button style="tertiary" text="Войти" type="submit"/>
            <span class="auth__alternative">
                Есть аккаунт?
                <a class="auth__alternative-link" asp-controller="Auth" asp-action="SignIn">
                    Войти
                </a>
            </span>
        </form>
    </main>
</div>
