html {
  min-height: 100%;
  background-color: #161616;
  color: white;
}

body {
  margin: 0;
}

.tg-container {
  box-sizing: border-box;
  width: 1260px;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.tg-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tg-header__logo {
  height: 40px;
}

.tg-header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
}

.tg-header__menu-item {
  display: inline;
  padding: 0 10px;
  margin: 0 10px;
}

.tg-header__menu-link {
  color: white;
  text-decoration: none;
}

.tg-header__menu-link:hover {
  text-decoration: underline;
}

.tg-header__auth {
  margin-left: auto;
}

.tg-header__auth > button {
  padding-right: 12px !important;
}