@model string

<div 
  class="bx--form-item bx--text-input-wrapper">
  <label for="text-input-3" class="bx--label">@Model</label>
  <div class="bx--text-input__field-wrapper">
    <input id="text-input-3" type="text"
      class="bx--text-input" placeholder="">
  </div>
</div>