@{
    var buttonClass = $"{ViewBag.ClassName} bx--btn bx--btn--{ViewBag.Style}";
    if (ViewBag.Size == "small")
        buttonClass += " bx--btn--sm";
}

<button class="@buttonClass" type="@ViewBag.Type">
    @ViewBag.Text
</button>