<div class="bx--form-item bx--checkbox-wrapper @ViewBag.ClassName">
    <input id="bx--checkbox-new" class="bx--checkbox" type="checkbox" value="new"
            name="checkbox" checked>
    <label for="bx--checkbox-new" class="bx--checkbox-label">@ViewBag.Label</label>
</div>