@model string

<fieldset class="bx--fieldset">
    <legend class="bx--label"></legend>
    <!-- input + label -->
    <div class="bx--form-item bx--checkbox-wrapper">
        <input id="bx--checkbox-new" class="bx--checkbox" type="checkbox" value="new"
               name="checkbox" checked>
        <label for="bx--checkbox-new" class="bx--checkbox-label">@Model</label>
    </div>
</fieldset>