html {
  min-height: 100%;
  background-color: #161616;
  color: white;
}

body {
  margin: 0;
  font-family: Gilroy;
}

.tg-container {
  box-sizing: border-box;
  width: 1260px;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.tg-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}