@using TrashGrounds.Services.Database;
@using TrashGrounds.Services;

@{
    using ApplicationContext db = new ApplicationContext();
    var users = db.Users.ToList();
    var tracks = db.Tracks.ToList();
}

<link rel="stylesheet" href="~/css/pages/admin.css">

<vc:header />

<div class="admin tg-container">
    <vc:search class-name="admin__search" placeholder="Введите имя пользователя" />

    <div class="admin__users">
        <section class="bx--structured-list">
            <div class="bx--structured-list-thead">
                <div class="bx--structured-list-row bx--structured-list-row--header-row">
                    <div class="bx--structured-list-th">Никнейм</div>
                    <div class="bx--structured-list-th">Дата регистрации</div>
                    <div class="bx--structured-list-th">Email</div>
                    <div class="bx--structured-list-th">Треки</div>
                    <div class="bx--structured-list-th"></div>
                </div>
            </div>
            <div class="bx--structured-list-tbody">
                @foreach (var user in users)
                {
                    var userTracksCount = tracks.Count(t => t.UserId == user.Id);
                    <div class="bx--structured-list-row">
                        <div class="bx--structured-list-td">
                            @user.Nickname
                        </div>
                        <div class="bx--structured-list-td">
                            @user.Reg_date
                        </div>
                        <div class="bx--structured-list-td">
                            @user.Email
                        </div>
                        <div class="bx--structured-list-td">
                            <a class="admin__user-tracks" asp-controller="Author" asp-action="Tracks" asp-route-id=@user.Id >Просмотреть треки (@userTracksCount)</a>
                        </div>
                        <div class="bx--structured-list-td">
                            <button class="admin__ban">Заблокировать</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
