@{
    Layout = "_Layout";
}

<vc:header is-logined="true" />

<vc:button text="sadsa" size="small" style="secondary"/>
<vc:button text = "dddd" style="primary"/>
<vc:button text="dfdf" style="tertiary" size="small"/>
<vc:text-area label="ABCD"/>
<vc:file-uploader label="Upload pic here" description="Dont upload files at all"/>
<div style="width: 180px">
    <vc:track-card track-name="ААА" author-name="ббб" rating="3.5"/>
    <vc:track-card track-name="Всё будет под подошвой" author-name="Oxxxana" rating="4.5"/>
</div>
<vc:dropdown label="dsdsad" options=[]/>