<section class="bx--structured-list">
    <div class="bx--structured-list-thead">
        <div class="bx--structured-list-row bx--structured-list-row--header-row">
            <div class="bx--structured-list-th"></div>
            <div class="bx--structured-list-th">Название</div>
            <div class="bx--structured-list-th">Прослушивания</div>
            <div class="bx--structured-list-th">Средняя оценка</div>
            <div class="bx--structured-list-th">Продолжительность</div>
        </div>
    </div>
    <div class="bx--structured-list-tbody">
        @for (var i = 0; i < 5; i++) {
            <a class="bx--structured-list-row author-track-list__row" asp-action="Index" asp-controller="Track">
                <div class="bx--structured-list-td">
                    <img class="author-track-list__avatar" src="/img/jew.jpg" alt="avatar">
                </div>
                <div class="bx--structured-list-td">
                    Признаки развода
                </div>
                <div class="bx--structured-list-td">
                    1239
                </div>
                <div class="bx--structured-list-td">
                    4.5
                </div>
                <div class="bx--structured-list-td">
                    3:22
                </div>
            </a>
        }
    </div>
</section>
