<div class="post @ViewBag.ClassName">
    <img class="post__image" src="/img/mox.jpg" alt="post image">
    <div class="post__body">
        <div class="post__text">
            Зааписал топовый трек про мох, выпил пива вообще хорошо стало. Пятерочке респект! Реально вообще просветлённым стал. Ещё дизайн крутой сделал из-за их пойла, думал ща стены раскрашивать пойду.
        </div>
        <div class="post__meta">
            <div class="post__timestamp">3 дня назад</div>
            <div class="post__like-count">450 классов</div>
            <button class="post__like-button">
                <img class="post__like-image post__like-image--disabled" src="~/img/pog-disabled.png" alt="not liked">
                <img class="post__like-image post__like-image--enabled" src="~/img/pog.png" alt="liked">
            </button>
        </div>

        <button class="post__delete">
            Удалить
        </button>
    </div>
</div>
