@{
    var previewPlaceholderUrl = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=";
    var actualPreview = ViewBag?.PreviewUrl ?? previewPlaceholderUrl;
}

<div class="tg-track-card">
    <a class="tg-track-card__image-container" asp-controller="Track" asp-action="Index" asp-route-id="@ViewBag?.TrackId">
        <img class="tg-track-card__image" src="@previewPlaceholderUrl" alt="track preview">
    </a>
    <div class="tg-track-card__info-container">
        <div class="tg-track-card__info">
            <a class="tg-track-card__track-name" asp-controller="Track" asp-action="Index" asp-route-id="@ViewBag?.TrackId">
                @ViewBag?.TrackName
            </a>
            <a class="tg-track-card__author-name" asp-controller="Author" asp-action="Tracks" asp-route-id="@ViewBag?.AuthorId">
                @ViewBag?.AuthorName
            </a>
            <div class="tg-track-card__rating">
                @ViewBag?.Rating
                <img class="tg-track-card__rating--icon" src="~/img/pog.png" alt="rating">
            </div>
        </div>
    </div>
</div>