@model ButtonViewModel

@{
    var buttonClass = $"bx--btn bx--btn--{Model?.Type}";
    if (Model?.Size == "small")
        buttonClass += " bx--btn--sm";
}

<button
    class="@buttonClass"
    type="button">
    @Model?.Text
</button>