<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TrashGrounds</title>
    <link rel="stylesheet" href="~/TrashGrounds.styles.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/carbon-gray-100.min.css" />
</head>
<body>
<vc:header />
<main role="main" class="tg-container">
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>